<h1><%=@doctor.full_name %></h1>
<hr />
<br />
<%= link_to 'Appointment', doctors_enrollments_path(@doctors), class: "ui primary button inverted" %>
<br />
<br />
<br />
<%= link_to "Delete doctor", @doctors, method: :delete, class: "ui red button inverted" %>